.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar {
    background-color: rgb(59, 134, 184);
}
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  input[type=text] {
    width: 30%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
  }

  input[type=text] {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }

  .home {
    background-color: black;
  }

  .btn {
    margin-left:130px;
    background-color: black;
    color: white;
  }

  .input {
    margin-left: 50px;
  }

  .ul {
    color: black;
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel {
    background-color: white;
  }

  .german {
    color: black;
  }

  .english {
    color: black;
  }

  
